{
    "server": "{{shadowsocks.server}}",
    "server_port": {{shadowsocks.server_port}},
    "local_address": "{{shadowsocks.local_address}}",
    "local_port": {{shadowsocks.local_port}},
    "password": "{{shadowsocks.password}}",
    "timeout": {{shadowsocks.timeout}},
    "method": "{{shadowsocks.method}}"
}
