[Unit]
Description=Gateway daemon interface

[Service]
Type=forking
WorkingDirectory=/home/{{common.deploy_user}}/gateway-web/
EnvironmentFile=/home/{{common.deploy_user}}/gateway-web/.rbenv-vars
ExecStart=/usr/local/bin/bundle exec bin/gateway_daemon start
User={{common.deploy_user}}
Group={{common.deploy_user}}
PIDFile=/home/{{common.deploy_user}}/gateway-web/tmp/pids/gateway_daemon.pid
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
